/* Variables */
$background-color: #fff;
$border-color-dark: #4f4f4f;
$border-color: #999999;
$border-color-thin: #f0f0f0;

$text-color: rgb(35, 49, 68);

$a11y-gray: #9e9e9e;

$link-color: #1d60a3;
$link-hover-color: #1da388;
$link-hover-line-color: $link-hover-color;
$icon-hover-color: $link-hover-color;

/* Basic */
html {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: $background-color;
    color: $text-color;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.container {
    max-width: 60%;
    margin: 2em auto 0;
}

main {
    outline: none;
}





.header {
    // border: thin dotted red;

    $name-size: 25px;
    $name-weight: 700;
    $description-size: 12px;
    $description-weight: 200;

    $menu-item-size: 15px;
    $menu-item-weight: 300;

    .title {
        margin: 30px 0px;

        .name {
            margin: 0;
            font-size: $name-size;
            font-weight: $name-weight;
        }

        .description {
            margin-top: 5px;
            font-size: $description-size;
            font-weight: $description-weight;
        }

        a:not(:hover) {
            color: $text-color;
            border-bottom: none;
        }

        a:hover {
            border-bottom: none;
        }
    }

    .navbar {
        align-self: center;

        a {
            font-size: $menu-item-size;
            font-weight: $menu-item-weight;
        }

        a:not(:hover) {
            color: $text-color;
            border-bottom: none;
        }

        a:hover {
            border-bottom: none;
        }
    }
}

.squeezed {
    max-width: 97%;
    margin: 0px auto 0px;
}

// base-listing
.base-listing {
    // border: 2px dotted red;

    $title-size: 20px;
    $title-weight: 700;
    $supporting-information-size: 12px;
    $supporting-information-weight: 300;
    $summary-size: 13px;
    $summary-weight: 400;

    $info-size: 10px;
    $info-weight: 200;
    $info-color: $border-color;

    // margin: 0px;
    padding: 20px 0px;

    a {
        color: $text-color;
    }

    // a:active,
    // a:hover {
    //     outline: 0;
    // }

    a:hover,
    a:focus {
        color: $link-hover-color;
        // border-bottom: 1px solid $link-hover-line-color;
    }

    a:active {
        color: $link-hover-color;
        // opacity: 0.9;
        // border-bottom: 1px solid $link-hover-line-color;
    }

    a.active {
        color: $link-hover-color;
    }

    // img {
    //     margin: .5em auto 0;
    // }
    // h3 {
    //     margin-block-start: 0.25em;
    //     margin-block-end: 0;
    // }

    .title {
        margin: 0px;
        padding: 0px;
        font-size: $title-size;
        font-weight: $title-weight;
    }

    .position {
        margin-top: 5px;
        margin-bottom: 15px;
        // padding: 0px;
        font-size: $supporting-information-size;
        font-weight: $supporting-information-weight;
    }

    .summary {
        p {
            font-size: $summary-size;
            margin: 10px 0px;
            font-weight: $summary-weight;
        }
    }

    .info {
        margin-top: 20px;
        font-size: $info-size;
        color: $info-color;

        .date {
            display: inline-block;
            white-space: nowrap;
        }

        .homepage {
            display: inline-block;
            white-space: nowrap;
            // a {
            //     color: #333333;
            // }
            a:hover {
                // color: $icon-hover-color;
                // text-decoration: none;
                border-bottom: none;
                // transition: all 0.2s linear;
            }
        }
    }
}

.project-category {
    $category-size: 15px;
    $category-weight: 200;

    font-size: $category-size;
    font-weight: $category-weight;
}

.transkey {
    $transkey-color: $border-color-dark;
    $transkey-size: 12px;
    $transkey-weight: 200;

    
    p {
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: $transkey-size;
        color: $transkey-color;
        font-weight: $transkey-weight;
    }
}

.base-article {
    $title-size: 30px;
    $title-weight: 700;

    $supporting-information-size: 12px;
    $supporting-information-weight: 200;

    $summary-size: 14px;
    $summary-weight: 500;
    $summary-color: $border-color-dark;
    
    $information-size: 10px;
    $information-weight: 300;
    $information-color: $summary-color;

    .article-header {

        .title {
            margin: 0;
            font-size: $title-size;
            font-weight: $title-weight;
        }

        .position {
            margin: 0;
            font-size: $supporting-information-size;
            font-weight: $supporting-information-weight;
        }

        .summary {
            p {
                font-size: $summary-size;
                font-weight: $summary-weight;
            }
        }
    }

    .info {
        // background-color: pink;
        // margin-top: 20px;
        font-size: $information-size;
        font-weight: $information-weight;
        color: $information-color;

        .date {
            display: inline-block;
            white-space: nowrap;
        }

        .homepage {
            display: inline-block;
            white-space: nowrap;
            // a {
            //     color: #333333;
            // }
            a:hover {
                // color: $icon-hover-color;
                // text-decoration: none;
                border-bottom: none;
                // transition: all 0.2s linear;
            }
        }
    }
}

pre {
    max-width: 100%;
    overflow: auto;
    padding: 25px;
    margin: 35px;
}

pre,
kbd,
code {
    font-family: ui-monospace,
        Menlo,
        Monaco,
        "Cascadia Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Monospace",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Courier New",
        monospace;
    font-size: 13px;
    line-height: 140%;
    border-radius: 15px;
}


blockquote {
    border-left: 5px solid #cccccc;
    padding: 0.1em 1em;
    margin: 0px 30px;
}

p,
ul,
ol {
    font-size: 14px;
    line-height: 1.7;
}






















/* Index-specific styling */
.index-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index-listing {
    min-width: 48%;
    max-width: 48%;
    flex-grow: 1;
}

.index-listing h2 {
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 0;
    border-bottom: thin dotted $border-color;
}

.index-banner {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}


/* Headers */
h1 {
    font-size: 30px;
}

h2 {
    // font-weight: normal;
    font-size: 25px;
}

h3 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
}


/* Links */
a {
    color: $link-color;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:hover,
a:focus {
    color: $link-hover-color;
    border-bottom: 1px solid $link-hover-line-color;
}

a:active {
    color: $link-hover-color;
    opacity: 0.9;
    border-bottom: 1px solid $link-hover-line-color;
}

a.active {
    color: $link-hover-color;
}


/* Table */
.table-wrapper {
    overflow-x: auto;
}

table {
    margin: auto;
    max-width: 100%;
    border-spacing: 0;
}

thead {
    background: lightgrey;
}

th,
td {
    padding: 0.5em 1em;
    border: 1px double lightgrey;
}



hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
}

ul ol,
ol ol,
ul ul {
    font-size: 14px;
    margin: 0px 0px;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;

    // h1 {
    //     font-size: 1em;
    //     font-weight: normal;
    //     display: inline-block;
    // }

    // h2 {
    //     color: $a11y-gray;
    //     font-size: 0.8em;
    //     // font-size: 10px;
    //     // margin: 0 0 0.8em 0;
    //     // margin: 100px 0px;
    //     // font-weight: normal;
    // }

    nav {
        margin-top: 1em;
        max-width: 100%;
        text-align: right;
        margin-bottom: 1em;

        ul {
            list-style-type: none;
            display: inline-block;
            // float: right;
        }

        li {
            padding-left: 2em;
            float: left;
        }
    }

    a {
        color: #333;
    }
}


/* Anchor links */
h1, h2, h3, h4, h5, h6  {
    .zola-anchor {
        filter: opacity(0);
    }

    &:hover .zola-anchor {
        filter: opacity(0.2);
        transition: all 0.1s linear;
        border-bottom: none;
    }
}

.site-header {
    font-size: 30px;
    font-weight: 300;

    a:hover {
        border-bottom: none;
    }
}

/* Pages */
// main h1 {
//     // margin-top: 1em;
//     // font-weight: normal;
//     // line-height: 1.1em;
//     // margin-bottom: 0.5em;
//     // margin-bottom: 100px;
//     // font-size: 15px;
// }

.post-short-list:first-of-type {
    margin-top: 100px;
}


/* Articles */
article:not(:last-of-type) {
    padding-bottom: 30px;
    border-bottom: thin solid $border-color-thin;
}

article {
    margin-top: 25px;
    margin-bottom: 25px;
}

article header h1 {
    font-size: 40px;
    font-weight: 900;

    a {
        border: none;
        text-decoration: none;
        color: #333;
    }
}

article header h2 {
    font-size: 15px;
    // margin-top: -35px;
    margin-bottom: 10px;
    font-weight: 700;
    color: $a11y-gray;
}

.article-info {
    font-size: 12px;
    color: $a11y-gray;

    a {
        color: $a11y-gray;
    }
    a:hover {
        color: $link-hover-color;
    }
}

.article-position {
    margin-top: 0px;
    font-size: 12px;
    font-weight: 600;
    // color: $border-color;

    // a:hover {
    //     color: $link-hover-color;
    // }
}

// .article-position-text {
//     a:hover {
//         color: $link-hover-color;
//     }
//     // color: $a11y-gray;
// }
// .post-short-list
// .article-info {
//     // margin-top: 0;
//     // margin-bottom: 1.5em;
// }

.article-taxonomies {
    display: inline-block;
}

.article-date {
    display: inline-block;
    white-space: nowrap;
}

.article-categories {
    display: inline;
    list-style-type: none;
    padding: 0;

    li {
        display: inline;
        margin-right: 0.2em;
    }
    li:last-of-type {
        margin-right: 0;
    }
}

.article-tags {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: inline;
        margin-right: 0.2em;
    }
}

.article-github {
    display: inline-block;
}


/* Images */
article img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
}

.extended-img {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.extended-figure {
    position: relative;
    max-width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

figcaption {
    font-size: 0.75em;
    color: $a11y-gray;
    text-align: center;
}

.bordered {
    border: 3px solid $background-color;
    box-shadow: 0 0 0 3px #fafafa;
}

.read-more {
    text-transform: uppercase;
    font-size: 0.7em;
}

.divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: thin solid #f1f1f1;
    width: 25%;
    margin: 1em auto;
}

.post {
    header {
        display: block;
    }

    .footnote-definition:first-of-type {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px dotted $border-color;
    }
}

.post-summary {
    display: block;

    p {
        // font-size: 0.8em;
        font-size: 13px;
        margin-top: 10px;
        display: block;
    }
}

.post-list {
    a {
        color: $text-color;
        text-decoration: none;
    }

    a:active,
    a:hover {
        outline: 0;
    }

    a:hover,
    a:focus {
        color: $link-hover-color;
        border-bottom: 1px solid $link-hover-line-color;
    }

    a:active {
        color: $link-hover-color;
        opacity: 0.9;
        border-bottom: 1px solid $link-hover-line-color;
    }

    a.active {
        color: $link-hover-color;
    }

    img {
        margin: .5em auto 0;
    }

    h3 {
        margin-block-start: 0.25em;
        margin-block-end: 0;
    }
}

.footnote-definition {
    display: flex;

    sup {
        min-width: 1em;
    }
}


/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 5em;
}


/* Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
    // margin-top: 100px;
}

.pagination {
    text-align: center;   
}

.pagination-item {
    background: #fafafa;
    padding: 100px;
    // padding: 0.75em 0.75em;
}

.disabled {
    visibility: hidden;
}

.pagination-item {
    a {
        color: #333333;
    }

    a:hover,
    a:focus {
        color: $link-hover-color;
        border-bottom: 0;
    }
}


/* Footer */
// Styling applied to the footer at the very bottom.
// Includes the icon links (i.e., twitter, github, etc.)
footer {
    border-top: thin dotted $border-color;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;
}


/* Icons */
.icon-text {
    // Padding between the icons at the very bottom.
    a {
        padding: 0px 25px;
    }
}

.icon-text,
.article-github {
    a {
        color: #333333;
    }
    a:hover {
        color: $icon-hover-color;
        text-decoration: none;
        border-bottom: none;

        transition: all 0.1s linear;
    }
}


/* Media Queries */
@media (max-width: 840px) {
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    header {
        display: block;
    }

    .site-header {
        text-align: center;
    }

    header {
        nav {
            margin-top: 0em;
            max-width: 100%;
            text-align: center;
            background: #fafafa;
        }

        nav {
            ul {
                float: none;
                padding: 0;
                margin: 0;
            }

            li {
                padding: 0.5em 1em;
            }

            a:first-of-type {
                margin-left: 0;
            }
            a {
                margin-left: 5%;
            }
        }
    }

    .index-listing {
        max-width: none;
    }
}
