<!-- pagination macros -->
{% macro page_pagination(paginator) %}
    <div class="pagination">
        <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
            <a href="{{ paginator.previous }}">{{ trans(key="prev_page", lang=lang) }}</a>
            {% endif %}
        </div>
        <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
            <a href="{{ paginator.next }}">{{ trans(key="next_page", lang=lang) }}</a>
            {% endif %}
        </div>
    </div>
{% endmacro page_pagination %}

<!--
    The `base-listing` and `base-info` are used to propagate content in lists on the main pages.
    They are NOT for use when an article is clicked into.
-->
{% macro base_listing(page) %}
    <article class="base-listing">
        <a href="{{ page.permalink }}">
            <!-- All pages must have a title -->
            <div class="title">
                <header>
                    <h3 class="title">
                        {{ page.title }}
                    </h3>
                </header>
            </div>

            <!-- Work experience pages should have a position give -->
            {% if page.extra.position %}
            <div class="position">
                @ {{ page.extra.position }}
            </div>
            {% endif %}

            <!-- All pages should have a summary -->
            {% if page.summary %}
            <div class="summary">
                {{ page.summary | markdown | safe }}
            </div>
            {% endif %}

        </a>

        <div class="info">
            {% if page.date %}
                {% set reading_time = "◦ " ~ page.reading_time ~ " " ~ trans(key="minute", lang=lang) %}
                {% if page.extra.end_date %}
                    <div class="date">
                        {{ page.date | date(format=trans(key="date_format", lang=lang)) }}
                        to
                        {{ page.extra.end_date | date(format=trans(key="date_format", lang=lang)) }}
                        {{ reading_time }}
                    </div>
                {% elif page.extra.current %}
                <div class="date">
                    {{ page.date | date(format=trans(key="date_format", lang=lang)) }}
                    - Current
                </div>
                {% else %}
                    <div class="date">
                        {{ page.date | date(format=trans(key="date_format", lang=lang)) }}
                        {{ reading_time }}
                    </div>
                {% endif %}
            {% endif %}
    
            {% if page.extra.homepage %}
                <div class="homepage"> ◦
                    <a href="{{ page.extra.homepage }}">
                    <span class="icon">
                        <i class="fa fa-home"></i>
                        Homepage
                    </span>
                    </a>
                </div>
            {% endif %}

            <!-- Optional GitHub page -->
            {% if page.extra.repo_path %}
                <div class="homepage"> ◦
                    <a href="{{ 'https://www.github.com/' ~ page.extra.repo_path }}">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                        GitHub
                    </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </article>
{% endmacro base_listing %}
